In [108]:
import pandas as pd

In [109]:
movies = pd.read_csv('dataset1.csv')

In [110]:
movies.head(10)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
5,667257,Impossible Things,"Family,Drama",es,"Matilde is a woman who, after the death of her...",14.358,2021-06-17,8.6,255
6,129,Spirited Away,"Animation,Family,Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093
7,730154,Your Eyes Tell,"Romance,Drama",ja,"A tragic accident lead to Kaori's blindness, b...",51.345,2020-10-23,8.5,339
8,372754,Dou kyu sei – Classmates,"Romance,Animation",ja,"Rihito Sajo, an honor student with a perfect s...",14.285,2016-02-20,8.5,239
9,372058,Your Name.,"Romance,Animation,Drama",ja,High schoolers Mitsuha and Taki are complete s...,158.270,2016-08-26,8.5,8895

In [111]:
movies.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [112]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [113]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [114]:
movies = movies[['id', 'title', 'genre', 'original_language', 'overview']]

In [115]:
movies

,id,title,genre,original_language,overview
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...
...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...

In [116]:
movies['tags'] = movies['genre']+movies['overview']

In [117]:
movies

,id,title,genre,original_language,overview,tags
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,"Drama,CrimeFramed in the 1940s for the double ..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,RomanceRaj is a rich, carefree, h..."
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...","Drama,CrimeSpanning the years 1945 to 1955, a ..."
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,"Drama,History,WarThe true story of how busines..."
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,"Drama,CrimeIn the continuing saga of the Corle..."
...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...","Action,Adventure,FantasyThe story follows the ..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventu..."
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,WarDuring World War II,..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,DramaA man named Farm..."
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,"Thriller,Action,CrimeSeeking justice for his p..."

In [118]:
new_data = movies.drop(columns = ['overview','genre'])

In [119]:
new_data

,id,title,original_language,tags
0,278,The Shawshank Redemption,en,"Drama,CrimeFramed in the 1940s for the double ..."
1,19404,Dilwale Dulhania Le Jayenge,hi,"Comedy,Drama,RomanceRaj is a rich, carefree, h..."
2,238,The Godfather,en,"Drama,CrimeSpanning the years 1945 to 1955, a ..."
3,424,Schindler's List,en,"Drama,History,WarThe true story of how busines..."
4,240,The Godfather: Part II,en,"Drama,CrimeIn the continuing saga of the Corle..."
...,...,...,...,...
9995,10196,The Last Airbender,en,"Action,Adventure,FantasyThe story follows the ..."
9996,331446,Sharknado 3: Oh Hell No!,en,"Action,TV Movie,Science Fiction,Comedy,Adventu..."
9997,13995,Captain America,en,"Action,Science Fiction,WarDuring World War II,..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,en,"Adventure,Fantasy,Action,DramaA man named Farm..."
9999,455957,Domino,en,"Thriller,Action,CrimeSeeking justice for his p..."

In [120]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(
    max_features=10000,
    stop_words='english'
)

In [121]:
vector = cv.fit_transform(
    new_data['tags'].values.astype('U')#Ensures all values are Unicode strings
).toarray()

#------------------------<Syntax>---------------------------#
# new_data['tags']              → text column
# .values                       → NumPy array
# .astype('U')                  → convert to Unicode strings
# cv.fit_transform(...)         → text → numerical matrix
# .toarray()                    → sparse → dense matrix

In [122]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [123]:
vector.shape

(10000, 10000)

Cosine similarity is a metric used to measure how similar two vectors are based on the angle between them, not their magnitude (length)

Intuition (Simple Idea)

If two vectors point in the same direction → very similar

If they are perpendicular → not similar

If they point in opposite directions → very dissimilar

Cosine Similarity = cos(q) = {A.B/(||A|| ||B||)}

import numpy as np

def cosine_similarity(vec1, vec2):
    """
    Calculate cosine similarity between two vectors
    """
    vec1 = np.array(vec1)
    vec2 = np.array(vec2)

    dot_product = np.dot(vec1, vec2)
    magnitude_1 = np.linalg.norm(vec1)
    magnitude_2 = np.linalg.norm(vec2)

    if magnitude_1 == 0 or magnitude_2 == 0:
        return 0.0   # avoid division by zero

    return dot_product / (magnitude_1 * magnitude_2)

------------------------------------<using scikit-learn (MOST COMMON)>--------------------------------------------
from sklearn.metrics.pairwise import cosine_similarity

import numpy as np

A = np.array([[1, 2, 3]])
B = np.array([[2, 4, 6]])

print(cosine_similarity(A, B))

In [124]:
from sklearn.metrics.pairwise import cosine_similarity as cos

In [125]:
sim_val = cos(vector)

In [126]:
sim_val

array([[1.        , 0.06253054, 0.05802589, ..., 0.07963978, 0.07597372,
        0.03798686],
       [0.06253054, 1.        , 0.08980265, ..., 0.        , 0.        ,
        0.        ],
       [0.05802589, 0.08980265, 1.        , ..., 0.02541643, 0.03636965,
        0.        ],
       ...,
       [0.07963978, 0.        , 0.02541643, ..., 1.        , 0.03327792,
        0.03327792],
       [0.07597372, 0.        , 0.03636965, ..., 0.03327792, 1.        ,
        0.04761905],
       [0.03798686, 0.        , 0.        , ..., 0.03327792, 0.04761905,
        1.        ]])

In [127]:
new_data[new_data['title']=="The Godfather"].index[0]

np.int64(2)

In [128]:
sim_val[2]

array([0.05802589, 0.08980265, 1.        , ..., 0.02541643, 0.03636965,
       0.        ])

In [129]:
similar_movies = sorted(
    list(enumerate(sim_val[2])),
    reverse=True,
    key=lambda x: x[1]
)

enumerate convers the given list in set of tupels (index , data )

In [130]:
for i in similar_movies[0:6]:
    print(new_data.iloc[i[0]].title);

The Godfather
The Godfather: Part II
Felon
House of Gucci
Gotti
The Outsider

In [139]:
def recommend0(movie):

    movie = movie.strip().lower()
    titles = new_data['title'].str.lower()
    # check if movie exists
    if movie not in titles.values:
        return "Movie not found in data set"
    # get index of the movie
    movie_index = new_data[titles == movie].index[0]
    distances = sim_val[movie_index] --------# get similarity scores
    movies_list = sorted(--------------------# sort by similarity score
        list(enumerate(distances)),
        reverse=True,
        key=lambda x: x[1]
    )
    return [
        new_data.iloc[i[0]].title
        for i in movies_list[1:6]
    ]

In [159]:
def recommend(movie):
    movie = movie.strip().lower()

    # filter matching rows
    matches = new_data[new_data['title'].str.lower() == movie]

    # check if movie exists
    if matches.empty:
        return "Movie not found"

    # safe index access
    index = matches.index[0]

    distance = sorted(
        list(enumerate(sim_val[index])),
        reverse=True,
        key=lambda vector: vector[1]
    )

    for i in distance[1:6]:  # skip the same movie
        print(new_data.iloc[i[0]].title)

In [161]:
recommend("Avatar")

Krull
The Fifth Element
The Extraordinary Adventures of Adèle Blanc-Sec
Beowulf
Journey 2: The Mysterious Island

In [162]:
from difflib import get_close_matches

def recommend2(movie):
    movie = movie.strip().lower()
    titles = new_data['title'].str.lower()

    matches = get_close_matches(movie, titles, n=1, cutoff=0.6)
    if not matches:
        return "Movie not found"

    movie_index = new_data[titles == matches[0]].index[0]
    distances = sim_val[movie_index]

    movies_list = sorted(
        list(enumerate(distances)),
        reverse=True,
        key=lambda x: x[1]
    )

    return [
        new_data.iloc[i[0]].title
        for i in movies_list[1:6]:
    ]

In [164]:
recommend2('godfather')

['The Godfather: Part II', 'Felon', 'House of Gucci', 'Gotti', 'The Outsider']

In [166]:
import pickle

pickle.dump(new_data, open('movies_list.pkl', 'wb'))

pickle.dump(sim_val, open('similarity.pkl', 'wb'))

pickle.load(open('movies_list.pkl', 'rb'))

,id,title,original_language,tags
0,278,The Shawshank Redemption,en,"Drama,CrimeFramed in the 1940s for the double ..."
1,19404,Dilwale Dulhania Le Jayenge,hi,"Comedy,Drama,RomanceRaj is a rich, carefree, h..."
2,238,The Godfather,en,"Drama,CrimeSpanning the years 1945 to 1955, a ..."
3,424,Schindler's List,en,"Drama,History,WarThe true story of how busines..."
4,240,The Godfather: Part II,en,"Drama,CrimeIn the continuing saga of the Corle..."
...,...,...,...,...
9995,10196,The Last Airbender,en,"Action,Adventure,FantasyThe story follows the ..."
9996,331446,Sharknado 3: Oh Hell No!,en,"Action,TV Movie,Science Fiction,Comedy,Adventu..."
9997,13995,Captain America,en,"Action,Science Fiction,WarDuring World War II,..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,en,"Adventure,Fantasy,Action,DramaA man named Farm..."
9999,455957,Domino,en,"Thriller,Action,CrimeSeeking justice for his p..."